
.titulo {
    width: 150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo img {
    width: 100px;
}

.titulo h1{
}

.login {
    width: 400px;
    background-color: var(--soft-grey);
    padding: 1.6rem;
    border-radius: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.login button{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 1rem;
    border: 1px solid transparent;
    background-color: var(--purple);
    color:  white;
}

.login button:hover{
    background-color: #904c90;
    cursor: pointer;
}

.login h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.login input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1.3rem;
    border: 1px solid var(--soft-purple);
}

.login input:hover {
    border: 1px solid var(--soft-purple);
    background-color: rgb(235, 232, 232);
}